<!DOCTYPE html>
<html>
  <head>
    <?php //echo $this->getChildHtml('head') ?>
    <link rel="stylesheet" type="text/css" href="http://newbie.cunami.cloud/skin/frontend/humanspeed/default/css/builder.css" media="all" />
    <style>
        .loading p:after {
            content: '';
            animation-name: loading;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
        @keyframes loading {
            0%   {content: '.'}
            33.3333%  {content: '..'}
            66.6666%  {content: '...'}
            100% {content: '.'}
        }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </head>

  <body data-skin-url="<?php echo $this->getSkinUrl()?>"
        data-data-url="<?php echo $this->getBaseDir().DS.'public'.DS.'data'?>"
        data-cart-url="<?php echo $this->getUrl('checkout/cart/') ?>">
      <!-- /.intro-page -->
      <div class="page intro-page">
          <img src="<?php echo $this->getSkinUrl('images/builder/humanspeed-logo.svg')?>" width="240" height="50" title="logo" alt="logo" />
          <h2>Welcome to HumanSpeed Intelligent</h2>
          <div class="text scroll">
              <p>We have picked the very best premium products from our extensive range and raised them to a new level of performance. <br/>
          State of the art fabrics and technology help you improve in every aspect, from beating your fastest time to keeping you cool in hot conditions.<br/>
          Every material we use for each product has been selected for a reason, to help you achieve the best in training, racing and recovery. <br/>
          Each piece has been designed to maximize your freedom of movement and power you to your best performance every time you wear HumanSpeed Intelligent</p>
              <h4>Learn about the fabrics.</h4>
              <p>The brand HumanSpeed is based on fully customizable products, all made in Europe. We can play with unique designs, multiple colors and include personalized logos on any of our products. Below we will give our fans an opportunity to learn about our fabrics, to help you locate the specific product that suits your needs and aids your pursuit of optimal performance.</p>
              <h4>Lycra Carbon</h4>
              <p>Lycra Carbon fiber is one of our new 2017 materials. The fabric contains carbon fibers which give you the full freedom of movement that you would expect from a HumanSpeed product but also cools your body down in hot conditions and provides your muscles with support. Lycra Carbon fiber isn’t limited to only leg compression, when used in our upper body products it gives your core full support. We use the Lycra Carbon extensively in the new HumanSpeed Intelligent line.</p>
              <h4>Clima Speed</h4>
              <p>An innovative fabric that has a lot of benefits to the modern bike rider or triathlete. Clima speed fabric is extremely fast drying and helps transport the moisture away from your body faster. The fabric is also compressive, giving your core and muscle full support.  The Clima Speed products are designed for exceptional performance in race situations so have a slim fitted shape. The structure of the Clima Speed fabric, gives it a water repelling effect, that is 16 times better than standard fabrics seen on the market. Both the HumanSpeed Intelligent line and the Clima Speed line consist of the Clima Speed fabric.</p>
              <h4>Aero Speed</h4>
              <p>HumanSpeed first introduced the Aero Speed fabric in 2014. You often see this fabric used by riders in the cycling World Tour. The material gives a fantastic aerodynamic fit to the rider and the many channels of the Aero Speed fabric give you excellent flexibility, without losing the slim fitted shape. After 3 month on the market, we had our first “Best in test” award for the bestselling Aero Speed jersey and the Aero Speed bib. We use the Aero Speed fabric in the new HumanSpeed Intelligent line and the Aero Speed line.</p>
              <h4>Cold black treatment</h4>
              <p>Cold black treatment is a chemical process added to our “standard” fabric, Thunder bike. The Thunder bike fabric is a non-transparent fabric and is used on all our triathlon and biking shorts in the seating area. The Cold Black treatment reflect the rays of the sun, reducing the heat from thesun by 50%.<br/>
                  If you have any other request on our remaining 164 models, please do not hesitate to contact us.</p>
              <h4>Delivery time:</h4>
              <p>After design and all logos have been approved, we expect to delivery the order within 2-8 weeks. Season and order quantity decide ETA. We will confirm delivery to you as fast we can</p>
              <p>Peter Nørby<br/>Owner of HumanSpeed</p>
          </div>
          <div class="btns">
              <button class="btn btn--prices">prices</button>
              <button class="btn btn--blue btn--next" type="button">Get started</button>
          </div>
      </div>

       <!-- /.main-page -->
       <div class="page main-page">
          <header class="header">
                <div class="container">
                      <img src="<?php echo $this->getSkinUrl('images/builder/humanspeed-logo.svg')?>" width="249" height="44" alt="HumanSpeed">
                </div>
            </header>
            <div class="logo-error black-spot hidden">
                <p>You can not put logo on black area!</p>
            </div>
            <div class="logo-error logo-over-logo hidden">
                <p>You can not put your logo over Human Speed logo!</p>
            </div>
            <div class="logo-error loading hidden" style="background-color: rgba(0,0,0,.5); transition: opacity 1s; transform: translateX(-50%);">
                <p>Loading</p>
            </div>
            <div class="content">
                <div class="type" id="product-navigation">
                    <script type="text/html">
                        <div class="type__item__wrapper">
                            <div class="info-btn"></div>
                            <button class="type__item" type="button">
                            <img>
                        </button>
                        </div>
                    </script>
                </div>
                <div class="side" id="product-view-switch">
                    <script type="text/html">
                        <div class="side__item__wrapper">
                            <div class="info-btn"></div>
                            <button class="side__item" type="button">
                            <object></object>
                        </button>
                        </div>
                    </script>
                </div>
                <div class="product not-loaded">
                    <div class="item front" data-view="front">
                        <!-- PLACE FOR SVG -->
                    </div>
                    <div class="item hide" data-view="side">
                    </div>
                    <div class="item hide" data-view="back">
                    </div>

                    <div class="product__align  hide">
                        <div class="product__align-group">
                            <button class="product__align-item  top-left" type="button" data-align="top_left" title="Top Left">Top Left</button>
                            <button class="product__align-item  top-center" type="button" data-align="top_center" title="Top Center">Top Center</button>
                            <button class="product__align-item  top-right" type="button" data-align="top_right" title="Top Right">Top Right</button>
                        </div>
                        <div class="product__align-group">
                            <button class="product__align-item  bottom-left" type="button" data-align="bottom_left" title="Bottom Left">Bottom Left</button>
                            <button class="product__align-item  bottom-center" type="button" data-align="bottom_center" title="Bottom Center">Bottom Center</button>
                            <button class="product__align-item  bottom-right" type="button" data-align="bottom_right" title="Bottom Right">Bottom Right</button>
                        </div>
                    </div>

                    <div class="product__colors  hide" id="colors">
                        <div class="product__colors-group">
                            <button class="product__colors-item" type="button" data-color="#231f20">
                            <span class="product__color" style="background-color: #231f20;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#ed1c24">
                            <span class="product__color" style="background-color: #ed1c24;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#0066b3">
                            <span class="product__color" style="background-color: #0066b3;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#fff200">
                            <span class="product__color" style="background-color: #fff200;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#6d696d">
                            <span class="product__color" style="background-color: #6d696d;"></span>
                        </button>
                        </div>

                        <div class="product__colors-group">
                            <button class="product__colors-item" type="button" type="button" data-color="#ffffff">
                            <span class="product__color  product__color--white" style="background-color: #ffffff;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#00bbdf">
                            <span class="product__color" style="background-color: #00bbdf;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#000033">
                            <span class="product__color" style="background-color: #000033;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#72bf44">
                            <span class="product__color" style="background-color: #72bf44;"></span>
                        </button>
                            <button class="product__colors-item" type="button" data-color="#f58220">
                            <span class="product__color" style="background-color: #f58220;"></span>
                        </button>
                        </div>
                    </div>
                    <div class="info-btn" data-info="colors" style="display: none"></div>

                </div>

                <div class="side right" id="logo-switch" style="display: none">
                    <div class="side__item__wrapper" data-product-view="front">
                        <div class="info-btn">
                        </div>
                        <button class="side__item" type="button">
                        <img src="">
                    </button>
                    </div>
                </div>
                <div class="actions" style="display: none">
                    <div class="actions__block__wrapper">
                        <div class="info-btn" data-info="logos"></div>
                        <div class="actions__block  actions__block--white  actions__block--logos">
                            <button class="actions__logos-btn" type="button" id="logos-toggle">Logos</button>
                        </div>
                    </div>

                    <div class="actions__block__wrapper">
                        <div class="info-btn" data-info="sizes"></div>
                        <div class="actions__block">
                            <div class="btn__group">
                                <input class="radio hide" type="radio" name="size" id="xs">
                                <label class="btn  btn--white" for="xs">xs</label>

                                <input class="radio hide" type="radio" name="size" id="s">
                                <label class="btn  btn--white" for="s">s</label>
                            </div>
                            <div class="btn__group">
                                <input class="radio hide" type="radio" name="size" id="m">
                                <label class="btn  btn--white" for="m">m</label>

                                <input class="radio hide" type="radio" name="size" id="l">
                                <label class="btn  btn--white" for="l">l</label>
                            </div>
                            <div class="btn__group">
                                <input class="radio hide" type="radio" name="size" id="xl">
                                <label class="btn  btn--white" for="xl">xl</label>

                                <input class="radio hide" type="radio" name="size" id="xxl">
                                <label class="btn  btn--white" for="xxl">xxl</label>
                            </div>
                            <input class="radio hide" type="radio" name="size" id="xxxl">
                            <label class="btn  btn--white  btn--no-radius" for="xxxl">xxxl</label>
                        </div>
                    </div>

                    <div class="actions__block actions__block--blue">
                        <form action="/" method="post">
                            <input type="hidden" value="0" name="price" id="price">
                            <div class="price"><span id="cart_price">0</span> €</div>
                            <div class="cart">
                                <div class="cart__qty">
                                    <div class="spinner">
                                        <input class="input  input--qty" type="text" value="0" name="cart_qty" data-qty data-max="10">
                                        <button class="spinner__btn  spinner__btn--plus" type="button" data-spinner="plus">-</button>
                                        <button class="spinner__btn  spinner__btn--minus" type="button" data-spinner="minus">-</button>
                                    </div>
                                </div>
                                <div class="cart__btn">
                                    <a class="btn btn--cart" >Add</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="actions__block actions__block--blue">
                        <button class="btn  btn--blue  btn--basket" type="button">Basket</button>
                    </div>

                    <div class="actions__block  actions__block--copy">
                        <button class="btn btn--copy js-btn-copy-link" data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">Copy link</button>
                    </div>
                </div>

                <div id="upload-logo">
                    <h3>DRAG &amp; DROP</h3>
                    <form id="logo-dropzone" action="php/saveIcon.php">
                        <div class="dz-message" data-dz-message><span></span></div>
                    </form>
                    <div class="btn-block">
                        <div class="btn">UPLOAD</div>
                    </div>
                </div>
            </div>

            <div class="logos" id="logos">
                <div class="logos__header">
                    <h3 class="logos__title">drag &amp; Drop</h3>
                </div>
                <div class="logos__container">
                    <div class="logos__item">
                        <img src="http://placehold.it/100x80" alt="">
                    </div>
                    <div class="logos__item">
                        <img src="http://placehold.it/100x80" alt="">
                    </div>
                    <div class="logos__item">
                        <img src="http://placehold.it/100x80" alt="">
                    </div>
                </div>
                <div class="logos__footer">
                    <label class="btn  btn--blue" for="logo">
                    <input class="hide" type="file" name="logo" id="logo">
                    Upload
                </label>
                </div>
            </div>

            <footer class="footer">
                <div class="container">

                    <div class="design">
                        <div id="product-designs" style="display:inline-block">
                            <script type="text/html">
                                <div class="design__item">
                                    <div class="design__wrapper">
                                        <object></object>
                                    </div>
                                    <div class="design__title"></div>
                                </div>
                            </script>
                        </div>
                        <div class="design__item update" style="display: none">
                            <div class="design__wrapper">
                                <img style="width: 44px;opacity: 0.6;" src="<?php echo $this->getSkinUrl('images/builder/update.png')?>" alt="">
                            </div>
                            <div class="design__title">update design</div>
                        </div>
                        <div class="design__item" style="display: none">
                            <div class="design__wrapper">
                                <img src="<?php echo $this->getSkinUrl('images/builder/plus-icon.png')?>" alt="">
                            </div>
                            <div class="design__title">save design</div>
                        </div>
                    </div>
                </div>
          </footer>
       </div>

       <!-- /.basket-page -->
       <div class="page basket-page">
          <img src="<?php echo $this->getSkinUrl('images/builder/humanspeed-logo.svg')?>" width="240" height="50" title="logo" alt="logo" />
          <div class="header">
              <div class="h-item details">details</div><div class="h-item">amount</div><div class="h-item">price</div><div class="h-item">total</div>
          </div>
          <div class="basket-row template">
              <div class="b-item details">
                  <object></object><div>
                  <h3></h3>
                  <h4></h4>
                  </div>
              </div><div class="b-item item-amount"></div><div class="b-item item-price"></div><div class="b-item item-total"></div>
          </div>
          <div class="summary">
              <div class="sub-total">
                  <div class="value">startup price</div><div id="sub-total" class="result">63€</div>
              </div>
              <div class="taxes">
                  <div class="value">taxies (25%)</div><div id="taxes" class="result">0.00€</div>
              </div>
              <div class="total">
                  <div class="value">total</div><div id="total" class="result">0.00€</div>
              </div>
          </div>
          <div class="btn back">back</div>
          <div class="btn btn--blue proceed">proceed</div>
       </div>

      <div id="info-block" style="display: none">
          <div class="info-window">
              <div class="content">
                  <h3>INFO BOX TITLE</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ab ipsa quisquam, consequatur incidunt. Sequi enim id veritatis blanditiis aliquam explicabo, voluptatem, reprehenderit vel, officia nihil, provident sit ut excepturi.</p>
              </div>
              <div class="btn close-win">close window</div>
          </div>
      </div>

      <div id="price-block" style="display: none">
          <div class="info-window">
              <h3>HUMANSPEED - INTELLIGENT</h3>
              <div class="content top">
                  <div class="row-head">
                      <div>Product</div>
                      <div class="detail"></div>
                      <div>Startup cost</div>
                      <div>1-4 pcs per unit</div>
                      <div>5-9 pcs per unit</div>
                      <div>10+ pcs per unit</div>
                  </div>
              </div>
              <div class="content">
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017501/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent jersey men<br/>AN: 2017501&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€100</p></div>
                      <div><p>€83</p></div>
                      <div><p>€75</p></div>
                  </div>
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017503/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent bib men<br/>AN: 2017503&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€145</p></div>
                      <div><p>€120</p></div>
                      <div><p>€109</p></div>
                  </div>
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017505/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent TT suit men<br/>AN: 2017505&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€200</p></div>
                      <div><p>€165</p></div>
                      <div><p>€150</p></div>
                  </div>
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017507/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent triathlon suit men<br/>AN: 2017507&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€170</p></div>
                      <div><p>€143</p></div>
                      <div><p>€129</p></div>
                  </div>
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017509/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent triathlon top men<br/>AN: 2017509&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€92</p></div>
                      <div><p>€76</p></div>
                      <div><p>€69</p></div>
                  </div>
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017511/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent triathlon pant men<br/>AN: 2017511&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€92</p></div>
                      <div><p>€76</p></div>
                      <div><p>€69</p></div>
                  </div>
                  <div class="row-details">
                      <div><img src="<?php echo $this->getSkinUrl('images/builder/products/2017513/1/front.svg')?>" alt="" /></div>
                      <div class="detail"><p>HumanSpeed Intelligent triathlon suit sleeves men<br/>AN: 2017513&nbsp;&nbsp;&nbsp;&nbsp;XS-XXXL</p></div>
                      <div><p>€63</p></div>
                      <div><p>€195</p></div>
                      <div><p>€153</p></div>
                      <div><p>€138</p></div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Modal -->
      <div class="remodal" id="save_modal" role="dialog">
          <button data-remodal-action="close" class="remodal-close"></button>
          <h3 class="remodal__title">Save your design</h3>
          <p class="remodal__text">Access your design any time, any where</p>
          <form class="subscribe" action="/" method="post">
              <input class="subscribe__input" type="email" name="email" id="email" placeholder="Enter your email address">
              <button class="subscribe__btn" type="submit">Send</button>
          </form>
          <p class="remodal__text">or just copy the link</p>

          <div class="remodal__footer">
              <button class="btn  btn--copy  btn--copy-black js-btn-copy-link" type="button">Copy link</button>
          </div>
      </div>

      <!-- JS -->
      <script src="<?php echo $this->getSkinUrl('js/builder.js')?>"></script>

  </body>

  </html>
