/**
 * Scandi_MenuManager
 *
 * @category Scandi
 * @package Scandi_MenuManager
 * @author Scandiweb <info@scandiweb.com>
 * @copyright Copyright (c) 2013 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */


/* Global Style */
.menu-manager-menu { margin-bottom:15px; }
.menu-manager-menu li.active > a { text-decoration:none; }

/* Type : None */
.menu-type-none,
.menu-type-none ul,
.menu-type-none li { display:inline; }
.menu-type-none li a span,
.menu-type-none li span span { padding-right:5px; }

/* Type : Vertical */
.menu-type-vertical ul { padding-left:15px; }

/* Type : Horizontal */
.menu-type-horizontal { position:relative; z-index:100; }
.menu-type-horizontal li.level0 { display:inline; }
.menu-type-horizontal li.level0.last { border-right:1px solid #ccc; }
.menu-type-horizontal li { display:block; position:relative; padding:5px 10px; border:1px solid #ccc; border-right:none; /* background:#fff; */}

.menu-type-horizontal li.title { cursor:default; }

.menu-type-horizontal ul { position:absolute; left:0; top:100%; margin-left:-1px; border:1px solid #ccc; background:#fff; width:14em; display:none; }
.menu-type-horizontal ul li { border:none; /* border-bottom:1px solid #ccc; */ }
.menu-type-horizontal ul li.last { border-bottom:none; }
.menu-type-horizontal li.level1 ul { left:50%; top:70%; }
.menu-type-horizontal li:hover > ul { display:block; }