<h3>HumanSpeed Intelligent jersey men - 2017501</h3>
<ul>
<li>Carbon fabric, which support your muscles and cools you down.</li>
<li>Clima Speed fabric, gives you a perfect core temperature - fast drying and water repellent effect.</li>
<li>Aero speed fabric on sleeves.</li>
<li>Slim fitted.</li>
<li>No collar.</li>
</ul>