<h3>HumanSpeed Intelligent bib men - 2017503</h3>
<ul><li>Carbon fabric, which support your muscles and cools you down. </li>
<li>Seamless legs for freedom of movement.</li>
<li>Pocket for radio/Iphone.</li>
<li>New bibs for better ad lighter fitting.</li>
<li>Red carbon pad.</li>
<li>Cold black treatment - reduces the heat by 50%.</li></ul>