<h3>HumanSpeed Intelligent triathlon suit sleeves men - 2017513</h3>
<ul><li>Carbon fabric, which support your muscles and cools you down. </li>
<li>Seamless legs for freedom of movement</li>
<li>Clima Speed fabric, gives you a perfect core temperature - fast drying and water repellent effect</li>
<li>Aero speed fabric on sleeves</li>
<li>Slim fitted</li>
<li>No collar</li>
<li>New fast drying tri pad.</li>
<li>Cold black treatment - reduces the heat by 50%</li></ul>