<h3>HumanSpeed Intelligent triathlon pant men - 2017511</h3>
<ul><li>Carbon fabric, which support your muscles and cools you down. </li>
<li>Seamless legs for freedom of movement</li>
<li>New fast drying tri pad.</li>
<li>Cold black treatment - reduces the heat by 50%</li></ul>