<h3>COLORS</h3>
<ul id="color-info">
<li class="head">
  <div>Color</div>
  <div>Hex</div>
  <div>Pantone</div>
  <div>CMYK</div>
  <div>Colorchart</div>
</li>
<li>
  <div>Black</div>
  <div>
    <div style="background-color: #231f20"></div>
    #231F20
  </div>
  <div>Process black C</div>
  <div>0-0-0-100</div>
  <div>311</div>
</li>
<li>
  <div>White</div>
  <div>
    <div style="background-color: #ffffff"></div>
    #FFFFFF
  </div>
  <div></div>
  <div>0-0-0-0</div>
  <div></div>
</li>
<li>
  <div>Red</div>
  <div>
    <div style="background-color: #ed1c24"></div>
    #ED1C24
  </div>
  <div>186C</div>
  <div>0-100-100-0</div>
  <div>201</div>
</li>
<li>
  <div>Light Blue</div>
  <div>
    <div style="background-color: #00bbdf"></div>
    #00BBDF
  </div>
  <div>2995C</div>
  <div>76-0-10-0</div>
  <div>1548</div>
</li>
<li>
  <div>Cobolt Blue</div>
  <div>
    <div style="background-color: #0066b3"></div>
    #0066B3
  </div>
  <div>072C</div>
  <div>100-60-0-0</div>
  <div>51</div>
</li>
<li>
  <div>Navy Blue</div>
  <div>
    <div style="background-color: #000033"></div>
    #000033
  </div>
  <div>296C</div>
  <div>100-90-0-85</div>
  <div>2047</div>
</li>
<li>
  <div>Yellow</div>
  <div>
    <div style="background-color: #fff200"></div>
    #FFF200
  </div>
  <div>Yellow C</div>
  <div>0-0-100-0</div>
  <div>U</div>
</li>
<li>
  <div>Apple Green</div>
  <div>
    <div style="background-color: #72bf44"></div>
    #72BF44
  </div>
  <div>361C</div>
  <div>60-0-100-0</div>
  <div>216</div>
</li>
<li>
  <div>Steel Grey</div>
  <div>
    <div style="background-color: #6d696d"></div>
    #6D696D
  </div>
  <div>424C</div>
  <div>0-5-0-70</div>
  <div>31</div>
</li>
<li>
  <div>Orange</div>
  <div>
    <div style="background-color: #f58220"></div>
    #F58220
  </div>
  <div>Orange 021C</div>
  <div>0-60-100-0</div>
  <div>205</div>
</li>
</ul>