<h3>Logos</h3>
<p>Please use vectorise logos SVG, PDF, EPS, AI, for us to complete the order,
   but if you don't have any, you can use PNG or JPG.<br/>
    We will contact you to get correct logos.</p>